
<section class="flex justify-between items-center">
  <h3>Explore Templates</h3>
  <a href="" class="text-sm text-primary-ring">View all</a>
</section>
<section class="flex gap-x-8 overflow-x-scroll py-4">
  <ng-container *ngFor="let templateItem of templates">
    <a href="" class="w-64">
      <div class="w-64 rounded overflow-hidden shadow-md">
        <img
          class="w-full"
          [src]="templateItem.image"
          [alt]="templateItem.name"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-base mb-2">{{ templateItem.name }}</div>
          <p class="text-gray-500 text-sm">
            {{ templateItem.description }}
          </p>
        </div>
      </div>
    </a>
  </ng-container>
</section>
