<div class="dropdown-wrapper" #comboboxWrapper [diyAriaActiveDescendant]="iId">
  <button
    [attr.id]="iId"
    type="button"
    tabindex="-1"
    (click)="isListOpen = !isListOpen"
    class="mb-1.5 flex items-center justify-between py-2 px-3 w-full border border-slate-300 bg-white text-gray-900 font-bold rounded-md shadow focus:outline-none"
  >
    {{ iSelected.label || iPlaceholder }}
    <span class="text-gray-400">
      <svg class="w-5 h-5">
        <use xlink:href="assets/sprite.svg#chevron-dropdown"></use>
      </svg>
    </span>
  </button>

  <diy-listbox
    [iId]="iId"
    [iLabelledBy]="'iLabelledBy'"
    [iOpen]="isListOpen"
    [iLoadingItems]="iLoadingItems"
    [iListLength]="items.length"
    (oButtonClick)="select('click')"
  >
    <diy-listbox-item
      *ngFor="let item of items; let i = index"
      [iIndex]="i"
      [iItem]="item"
      [iIsSelected]="iSelected && iSelected.value === item.value"
      (oSelect)="select($event)"
    >
    </diy-listbox-item>
  </diy-listbox>
</div>
