<form
  [ngClass]="{
    'space-y-5': formControlGap === 'small',
    'space-y-9': formControlGap === 'medium',
    'space-y-12': formControlGap === 'large'
  }"
  *ngIf="isFormReady"
  [formGroup]="iFormGroup"
  (ngSubmit)="onSubmit()"
  #iFormGroupRef="ngForm"
>
  <ng-container *ngFor="let control of iFormData?.controls">
    <div class="">
      <diy-form-label
        [iFor]="
          control.type === 'dropdown'
            ? iFormData.formName + '-' + control.name + '-dropdown'
            : control.name
        "
        [iTitle]="control.label"
        [iFormGroup]="iFormGroup"
        [iFormControlName]="control.name"
      ></diy-form-label>
      <ng-container *ngIf="control.type === 'dropdown'">
        <diy-dropdown
          [iFormGroup]="iFormGroup"
          [iSelected]="control.value"
          [iFormControlName]="control.name"
          [iPlaceholder]="control.placeholder"
          [iId]="iFormData.formName + '-' + control.name + '-dropdown'"
          [items]="control.options ? control.options : []"
        >
        </diy-dropdown>
      </ng-container>
      <ng-container *ngIf="control.type !== 'dropdown'">
        <diy-form-input
          [iId]="control.name"
          [iType]="control.type"
          [iFormGroup]="iFormGroup"
          [iFormControlName]="control.name"
          [iPlaceholder]="control.placeholder"
        >
        </diy-form-input>
      </ng-container>
    </div>
  </ng-container>

  <!-- HANDLING FORMGROUP ERRORS -->
  <ng-container *ngIf="iFormGroup.errors && iFormGroupRef.submitted">
    <!-- {{ iFormGroup.errors | json }} -->
    <span
      role="alert"
      class="text-error text-xs block"
      *ngIf="iFormGroup.errors['passwordMismatch']"
    >
      Passwords do not match
    </span>
  </ng-container>

  <div>
    <diy-button iStyle="contained" [iFull]="true" iType="submit">
      Save
    </diy-button>
  </div>
</form>
