<form
  class="space-y-4"
  *ngIf="isFormReady"
  [formGroup]="iFormGroup"
  (ngSubmit)="onSubmit()"
  #iFormGroupRef="ngForm"
>
  <ng-container *ngFor="let control of iFormData?.controls">
    <div class="" [ngSwitch]="control.type">
      <diy-form-label
        [iFormGroup]="iFormGroup"
        [iFor]="control.name"
        [iTitle]="control.label"
        [iFormControlName]="control.name"
      ></diy-form-label>
      <ng-container *ngSwitchCase="'dropdown'">
        <diy-dropdown
          iId="signup-dropdown"
          [iPlaceholder]="'Select your gender'"
          [iFormGroup]="iFormGroup"
          [iFormControlName]="control.name"
          [items]="control.options ? control.options : []"
        >
        </diy-dropdown>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <diy-text-input
          [iId]="control.name"
          [iType]="control.type"
          [iFormGroup]="iFormGroup"
          [iFormControlName]="control.name"
        >
        </diy-text-input>
      </ng-container>
    </div>
  </ng-container>

  <!-- HANDLING FORMGROUP ERRORS -->
  <ng-container *ngIf="iFormGroup.errors && iFormGroupRef.submitted">
    <!-- {{ iFormGroup.errors | json }} -->
    <span
      role="alert"
      class="text-red-600 text-xs block"
      *ngIf="iFormGroup.errors['passwordMismatch']"
    >
      Passwords do not match
    </span>
  </ng-container>

  <button type="submit">Submit</button>
</form>
