/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./avenir/font.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // font-family: 'Inter', sans-serif;
  font-family: 'Avenir', sans-serif;
  font-size: 16px
}


h1, h2, h3, h4, h5, h6 {
  @apply text-gray-900 font-bold;
}

a {
  @apply text-green-600 hover:underline;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  @apply focus:outline-0 focus:ring-0
}